# Ignore node_modules in client directory
/client/node_modules/

# Ignore vendor file in server directory
/server/vendor


# Ignore logs
*.log

# Ignore operating system files
.DS_Store
Thumbs.db

# Ignore IDE/editor configuration files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore build directories
/build/
dist/

# Ignore temporary files
*.tmp
*.swp
